<section id="viewCatalog" class="background-img">
    {{#if data}}
    <div class="added-hotels">
        {{#each data}}
        {{> hotelData}}
        {{/each}}
    </div>
    {{else}}
    <div class="guest">
        There are no Hotels found...
    </div>
    {{/if}}
</section>