<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>About Page</title>
  <link href="/css/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="/images/logo.png"></li>
        <li><a href="/">Browse Cars</a></li>
        <li><a href="/create">Add a Car</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </header>
    <main>
      <h1>About Mobile</h1>
      <div class="about">
        <p>
          <i>"Mobile"</i> is a place, where you can sell your car. This application was created as an exercise for the <a
            href="https://softuni.bg/trainings/2452/js-back-end-september-2019">JS Back-End course</a> at the
          <a href="https://softuni.bg/">Software University</a>.</p>
      </div>
    </main>
  </div>
  <footer>@Mobile: Exercise for Express.js and Handlebars</footer>
</body>

</html>