
      <h1>About Mobile</h1>
      <div class="about">
        <p>
          <i>"Mobile"</i> is a place, where you can sell your car. This application was created as an exercise for the <a
            href="https://softuni.bg/trainings/2452/js-back-end-september-2019">JS Back-End course</a> at the
          <a href="https://softuni.bg/">Software University</a>.</p>
      </div>
    