@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font: 16px/1.2 "PT Sans", sans-serif;
}

body{
    background-color: #1C2021;
    background-repeat: no-repeat;
    background-image: url("./image/fitness-main.jpg");
    background-position: center -18em;
    background-size: contain;

}

.container{
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 3.5em;
    
}

.top-line{
    background-color: #D01919;
    padding: 0.4em 0; 
}

.top-line span{
    padding-right: 0.2em;
}

.social li{
    display: inline-block;
    padding-right: 0.4em;
}

.social span{
    display: none;
}
.nav{
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 1.5em;
    padding-right: 3.9em;
}

.nav ul{
    display: flex;
    gap: 5em;
}
.nav ul li{
    display: inline-block;
}

.nav a{
    text-decoration: none;
    color: white;
}

.nav a:hover{
    text-decoration:line-through;
}

.banner{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6em 0;
}

.banner h1{
    font-size: 2.5em;
    letter-spacing: 0.3em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.banner .text{
    max-width: 54ch;
    padding-bottom: 2.8em;
}

.banner .button{
    padding-bottom: 5em;
}

.banner .button a{
    color: white;
    text-decoration: none;
    background-color: #D01919;
    padding: 0.4em 1em;
    border-radius: 0.3em;
}

.welcome{
    background-color: white;
}

h2{
    text-align: center;
    padding-top: 1em;
}

.line{
    display: block;
    background-color: #D01919;
    width: 2.2em;
    height: 2px;
    margin: 1.5em auto;
}

.welcome .content{
    padding-left:6em;
    padding-right:6em;
}

.content{
    display: flex;
    justify-content:center;
    padding-bottom: 3em;
}

.content-box{
    flex: 0 1 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.welcome img{
    width: 3em;
    height: auto;
    padding-bottom: 0.7em;
}

.welcome .content-box h4{
    color: #D01919;
    padding-bottom: 0.7em;
}

.welcome .content-box p{
    max-width: 35ch;
}

.coaches{
    background-color: #EFEFEF;
}

.coaches img{
    width: 370px;
    height: auto;
    border-radius: 0.2em;
}

.coaches h4{
    padding: 0.7em 0;
}

.coaches h5{
    color: #D01919;
    padding-bottom: 0.7em;
}

.coaches p{
    max-width: 33ch;
    color: #B0A6A7;
}

footer{
    background-color: #D01919;
    text-align: center;
}

footer p{
    padding: 0.5em 0;
}