<form class="search" action="/search" method="get">
    <input type="search" name="search" value="{{query}}" placeholder="Search email...">
    <button type="submit" class="btn-search">
        <img src="/static/img/search-icon.png" alt="search-icon">
        Search
    </button>
</form>

{{#if isSerched}}
<section id="search-page">
    <h2>Search result:</h2>
    {{#if result}}
    {{#each result}}
    {{> result}}
    {{/each}}
    {{else}}
    <article class="search-page-no-result">
        <p class="search-page-no-result-message">No match found.</p>
    </article>
    {{/if}}
    {{/if}}
</section>