<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">SoftUni Forum</span></p>
        </div>
        <div class="mini-navbar">
            <ul *ngIf="!isLoggedIn">
                <li>
                    <a href="/auth/login">Login</a>
                </li>
                <li>
                    <a href="/auth/register">Register</a>
                </li>
            </ul>
            <ul *ngIf="isLoggedIn">
                <li>
                    <a href="/auth/profile">{{user?.firstName}} profile</a>
                </li>
                <li>
                    <a href="/auth/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/themes">Themes</a>
            </li>
            <li>
                <a href="/themes/create">New Theme</a>
            </li>
        </ul>
    </nav>

</header>