body{
    background: rgb(11,203,212);
    background: linear-gradient(90deg, rgba(11,203,212,1) 0%, rgba(2,105,207,1) 50%, rgba(193,0,255,1) 100%);
    font: 16px/1.2 Georgia, serif;
}

section{
    display: block;
    width: 550px;
    height: 580px;
    margin: 7em auto;
    border-radius: 5px;
    background-color: white;
    border: 1px #ccc;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px 10px #6d6d6d7a;

}

.image{
    display: block;
    width: 100%;
}


.text{
    padding: 1em 0 0 2em
}

.image img{
    display: block;
    width: 100%;
    height: auto;
}

.text a{
    text-decoration: none;
    color: white;
    background-color: rgb(0 153 0);
    padding: 7px 12px 7px 12px;
    border-radius: 5px;
    position: absolute;
    right: 7%;
    bottom: 7%;
}

.text a:hover{
    color: whitesmoke;
    background-color: rgb(0 189 0);
    transition: 0.3s;
}