body{
    font:18px/1.5 Halvetica, sans-serif;
}
article{
    background-color: rgb(51, 102, 153);
    color: white;
    margin: 54px;
    padding: 36px;
    border-radius: 16px;
    text-indent: 40px
}

h1{
    font-family: Georgia, serif;
}