body{
    text-align: center;
}
h1{
    font-family: Sentinel A, Sentinel B, Georgia, 'Times New Roman', Times, serif;
    line-height: 1.15;
    font-weight: 400;
    color: #747474;
}
span{
    font: 16px/1.46 Graphol Semibold Web, Open Sans, Halvetica, Arial;
    font-style: oblique;
    font-weight: 600;
    color: #5c5a5a;
}
p{
    font: 16px/1.46 Graphol Semibold Web, Open Sans, Halvetica, Arial;
    font-weight: 400;
    color: #5c5a5a;
}