
      <h1>About Mobile</h1>
      <div class="about">
        <p>
          <i>"Mobile"</i> is a place, where you can sell your car. This app was created by me with my idea on templates from the JS Back-End course at the Software University.</p>
      </div>
    