      <h1>Create</h1>
      <div class="createForm">
        <form action="/create" method="POST" enctype="multipart/form-data">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" class="formInput">
          <label for="name">Description</label>
          <textarea id="name" name="description" class="formInput"></textarea>
          <label for="image">ImageUrl</label>
          <input type="file" id="image" name="imageUrl" class="formInput">
          <label for="price">Price</label>
          <input type="number" id="price" name="price" class="formInput">
          <input type="submit" value="Publish">
        </form>
      </div>