<h1>Login Form</h1>
<div class="form">
    <form action="/login" method="POST">
        <label for="username" class="formInput">Username</label>
        <input type="text" id="username" name="username" class="formInput">

        <label for="password" class="formInput">Password</label>
        <input type="password" id="password" name="password" class="formInput">
        {{#if error}}
        <h3 class="formInput">{{error}}</h3>
        {{/if}}
        <input type="submit" value="Login">
    </form>
</div>
