<header>
    <div>
        <a href="#!" class="nav_ico"><img src="https://icon-library.com/images/navigation-bar-icon/navigation-bar-icon-20.jpg"></a>
    <a href="/" class="logo"><img src="https://i.ibb.co/F7zTTVy/sozopoli-studios-low-resolution-logo-color-on-transparent-background.png" alt="logo"></a>
    </div>
    <nav>
        <a href="/about">About</a>
        <a href="/studios">Studios</a>
        <a href="/gallery">Gallery</a>
        <a href="/book">Book now</a>
        <span>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </span>
        <span>
            <a href="/logout">Logout</a>
        </span>
    </nav> 
</header>
