<div class="container">

    <form action="" method="post">
      
      <fieldset>
        <h1>Log in Form</h1>
  
        <!-- if error -->
        <p class="error">
          Message for Error
        </p>
        <!-- end if error -->
        
        <p class="field field-icon">
          <label for="email"><span><i class="fas fa-envelope"></i></span></label>
          <input type="text" name="email" id="email" placeholder="marк@gmial.com">
        </p>

        <p class="field field-icon">
          <label for="password"><span><i class="fas fa-lock"></i></span></label>
          <input type="password" name="password" id="password" placeholder="******">
        </p>
  
        <p>
          <button>Log in</button>
        </p>
        
        <p class="text-center">
          Don't have an account?
          <a href="/register">Register</a>
        </p>
        
      </fieldset>
    </form>
  </div>

  <div>
    <a href="/">Back to Home</a>
  </div>