.form{
    margin: 3em;
    display: flex;
    justify-content: center;
}
.paragraph{
    display: flex;
    justify-content: center;
}
.field {
    font-size: 18px;
    text-decoration: none;
    color: white;
    background: #009999;
    border-radius: 5px;
    padding: 8px;
}
.link {
    color: white;
    transition: all 0.3s ease;
}

.link:hover{
    color: rgba(245, 245, 245, 0.433);
}

.errorMessage{
    color: red;
    text-align: center;
}