<div class="form signup">
    <div class="form-content">
        <header>Register</header>
        <form>
            <div class="field input-field">
                <input type="email" placeholder="Email" class="input">
            </div>
            <div class="field input-field">
                <input type="password" placeholder="Create password" class="password">
            </div>
            <div class="field input-field">
                <input type="password" placeholder="Confirm password" class="password">
                <i class='bx bx-hide eye-icon'></i>
            </div>
            <div class="field button-field">
                <button>Signup</button>
            </div>
        </form>
        <div class="form-link">
            <span>Already have an account? <a href="/login" class="link login-link">Login</a></span>
        </div>
    </div>
    