*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e4e978;
}

article{
    background-color: #f2f4c0;
    width: 700px;
    border: 1px solid #b2ad7d;
    margin: 15px 10px;
    padding: 15px 0 15px 0;
}
h1, h2, h3, p{
    padding: 8px 15px;
}
section article p{
    font-style: italic;
    color: #5c6e91
}