<form action="/search">
    <input type="text" name="query">
    <button type="submit">Search</button>
</form>
</header>

<main>
    <section class="cats">
        <ul>
            <!-- {{{cats}}} -->
        </ul>
    </section>
</main>
