<form action="/" method="GET">
    <input type="text" name="search">
    <button type="submit">Search</button>
</form>
</header>

<main>
    <section class="cats">
        <ul>
            {{#each cats}}
  {{> catInfo}}
  {{else}}
  <p class="nothing">No cats in Database! <a href="/create-cat">Add a cat!</a></p>
  {{/each}}
        </ul>
    </section>
</main>
