@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header ul {
    margin: 0;
}

img {
    height: 200px;
    width: 300px;
}

img.car {
    display: block;
    margin: 0 auto;
    text-align: center;
}

img.logo {
    width: 76px;
    height: 56px;
    padding: 0em;
    float: left;
}

header {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #32a9cd;
}

header ul li {
    display: inline-block;
    vertical-align: middle;
}

header ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin: 0 1em;
}

header ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

main {
    margin: 0 4em;
    border-radius: 15px;
    padding: 4em;
}

main p.nothing{
    padding: 10em;
}

.search{
    margin: 0 auto;
    text-align: center;
}

div.container {
    display: block;
}

.cars{
    display: block;
    margin: 0 auto;
    text-align: center; 
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

div.car {
    display: inline-block;
    border: 1px solid #2b415433;
    background: white;
    vertical-align: top;
    width: 330px;
}

div.car:hover p.name {
    background: #32a9cd;
    color: white;
}

p.name {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 1px solid #2b415433;
}

button, main a.btn {
    border: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 18px;
    width: 43%;
    
    border-radius: 4px;
    background: #32a9cd;
    color: white;
}

.description {
    display: none;
}

.description p {
    margin: 10px;
}

button:hover {
    background-color: #104067;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #104067;
    color: white;
    cursor: pointer;
}

a {
    text-decoration: underline;
    color: white;
    text-transform: uppercase;
}

a.sell {
    text-decoration: underline;
    color: #0B2133;
    text-transform: none;
}

div.details {
    display: block;
    margin: auto;
    width: 50%;
    background-color: #f3f3f2;
    padding: 1em;
}

span {
    font-weight: bolder;
    font-size: 17px;
    font-style: italic;
    text-align: center;
    padding: 10px;
}

div.about {
    display: block;
    margin-bottom: 250px;
    background-color: #d4e7f5;
    padding: 3em;
    margin-top: 100px;
    text-align: center;
}


div.about a {
    text-decoration: none;
    color: #0B2133;
    font-weight: bold;
}

form label {
    background: #2d4b79;
    color: white;
    padding: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.userForm .formInput{
width: fit-content;
display: block;
border: 1px solid #ccc;
box-sizing: border-box;
padding: 12px 20px 12px 12px;
border-radius: 0 4px 4px 4px;
margin: 8px auto 1px;
}

.createForm .option{
    width: 100%;
display: block;
border: 1px solid #ccc;
box-sizing: border-box;
padding: 12px 20px 12px 12px;
border-radius: 0 4px 4px 4px;
margin: 8px 0 2em;
text-align: center;
}

.createForm .formInput{
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px 12px 12px;
    border-radius: 0 4px 4px 4px;
    margin: 8px 0 2em;
}

.editForm .formInput{
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px 12px 12px;
    border-radius: 0 4px 4px 4px;
    margin: 8px 0 2em;
}
input[type=text],
input[type=number],
input[type=password],
select,
textarea {
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px 12px 12px;
    border-radius: 0 4px 4px 4px;
    margin: 0px 3px 2em 5px;
    text-align: center;
}


input.price {
    width: 20%;
}

input.search {
    width: 20%;
}

input[type=submit] {
    background-color: #2d4b79;
border: none;
padding: 8px;
text-align: center;
text-decoration: none;
display: block;
font-size: 18px;
width: 20%;
margin: 32px auto 25px auto;
color: white;
text-transform: uppercase;
border-radius: 4px;
}

input[type=submit]:hover {
    background-color: #718F94;
    cursor: pointer;
}

div.form {
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: auto;
}

.createForm{
    border-radius: 5px;
    padding: 20px;
    width: 36%;
    margin: auto;
}
.editForm{
    border-radius: 5px;
    padding: 20px;
    width: 36%;
    margin: auto;
}


span.error {
    animation: fadeOut 1s forwards;
    animation-delay: 2s;
    background: #EF5542;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-weight: normal;
    position: relative;
    float: right;
    margin-top: 20px;
    overflow: hidden;
    display: block;
}

img#sadFaceImg{
    display: block;
    margin: 0 auto;
}

h2{
    text-align: center;
}

.options .option{
    display: inline;
    background-color: #f3f3f2;
    width: 300px;
    padding: 1px;
    margin: auto;
}

.options, .italic{
    text-align: center;
    font-style: italic;
}

footer {
    background: #32a9cd;
    padding: 1em;
    text-align: center;
    color: white;
    font-size: 20px;
}

/*Animations & Transitions
*/


@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}